################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FoodOnClick/.vs/FoodOnClick/v17/fileList.bin
