@media screen and (max-width: 600px) {
    .header {
        width: 100%;
        background-color: red;
        height: 90px;
        vertical-align: middle;
        display: inline-flex;
    }
}
body {
    margin-left: 20% !important;
    margin-right: 20% !important;
    margin: 0px;
}
.header {
    width: 100%;
    background-color: ghostwhite;
    height: 180px;
    vertical-align: middle;
    display: inline-flex;
}
.ProjectIcon {
    width: 20%;
    height:100%;
}
.MenuIcon {
    width: 50%;
    height: 100%;
}
.UserIcon {
    width: 29%;
    height: 100%;
}
