body {
    font-family: courier, serif;
    margin: 0; 
    /* background: url("../Images/background-purple.jpg"); */
    min-height: 100%;
    /* Full height */
    height: 100%;
}

h1 {
    margin: 0;
    text-align: center;
    color: #92248F;
}

h2 {
    margin: 0;
    text-align: center;
    color: #92248F;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800080;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #00008B;
}

ul.topnav li.right {
float: right;
}

#tableStyle {
    width: 20%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

#tableStyle td {
    text-align: center;
    vertical-align: middle;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.textWidthCustSearch {
    width:77%
}

.ddlWidthCustSearch {
    width:80%
}

.custBtnImage {
    border: 5px solid;
    border-color: #BA55D3;
    width: 200px;
    height: 200px;
}

.custBtnDiv {
    background-color: #BA55D3;
    width: 180px;
    margin: auto;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    width:50%;
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
}


.col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-100 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

.masterText {
    position: absolute;
    top: 200px;
    left: 0;
    font-size:2vw;
    width: 100%;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

#gvSearch {
    width:70%;
}

.alignRight {
    align-content:baseline;
}

/* For Phone */
@media screen and (max-width: 800px) {
    ul .topnav li.right, ul.topnav li {
        float: none;
    }

    .col-20, .col-30, col-50, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .textWidthCustSearch {
        width: 100%
    }

    .ddlWidthCustSearch {
        width: 100%
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        width: 80%;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

}

.alignTxtMid {
    text-align: right;
}

input[type="submit"] {
    border-radius: 12px;
    color: white;
    background-color: #800080;
    transition-duration: 0.4s;
    border: 2px solid #800080;
}

input[type="submit"]:hover {
    border-radius: 12px;
    color: black;
    background-color: white;
    /*border: 2px solid #800080;*/
}



